@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

html, body {
  /* text-align: center; */
  margin: 0 auto;
  background-color: #333;
  color: #dedede;
  font-family: 'Supermercado One', cursive;
  padding: 15px;
}

